# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfplan
tfplan*.out
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Archivos ZIP de Lambdas (si generaste alguno)
*.zip

# Dependencias de Lambda Layers, se instalan durante el apply (ver null_resource.install_layer_deps)
**/layer/

# Archivos del sistema y editor
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

# Archivos de logs
*.log

__pycache__/
*.py[cod]
